---
import { WordAnimator } from '../components/WordAnimator'
import BaseLayout from '../layouts/BaseLayout.astro'
import { SplineRender } from '../components/SplineRender'
import { WordSpinner } from '../components/WordSpinner'
import reactIcon from '../assets/react-icon.svg'
import graphqlIcon from '../assets/graphql-icon.svg'
import nodejsIcon from '../assets/nodejs-icon.svg'
import sqlIcon from '../assets/sql-icon.svg'
import spotifyIcon from '../assets/spotify.svg'
import project1Img from '../assets/project1.png'
import project2Img from '../assets/project2.png'
import project3Img from '../assets/project3.png'
import linkedinIcon from '../assets/linkedin-icon.svg'
import githubIcon from '../assets/github-icon.svg'
import emailIcon from '../assets/email-icon.svg'
import { SpotifyActivity } from '../components/SpotifyActivity'
import Tilt from '../components/Tilt.astro'
import EdgeAnalytics from '../components/EdgeAnalytics.astro'
import { isProduction } from '../utils/constants'
import { Social } from '../components/Social'
import UnderlineRainbow from '../components/UnderlineRainbow.astro'
import { PageViews } from '../components/PageViews'
import { ScrollyText } from '../components/ScrollyText'

const pageTitle = "Hi, I'm Sebastian"

const techs = [
  {
    value: 'React',
    icon: reactIcon,
  },
  {
    value: 'GraphQL',
    icon: graphqlIcon,
  },
  {
    value: 'NodeJS',
    icon: nodejsIcon,
  },
  {
    value: 'SQL',
    icon: sqlIcon,
  },
]

const githubUrl = 'aHR0cHM6Ly93d3cuZ2l0aHViLmNvbS9zZWJhc3RpYW53ZA=='

const links = [
  {
    value: 'LinkedIn',
    url: 'aHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2luL3NlYmFzdGlhbi1sdXF1ZS04OTFiOTAxODU=',
    type: 'url',
    icon: linkedinIcon,
  },
  {
    value: 'GitHub',
    url: githubUrl,
    type: 'url',
    icon: githubIcon,
  },
  {
    value: 'Email',
    url: 'c2ViYXN0aWFuLmx1cXVlQHByb3Rvbm1haWwuY29t',
    type: 'email',
    icon: emailIcon,
  },
] as const

const projects = [
  {
    value: 'ElevenFM',
    img: project1Img,
    description: 'Listen to music for free without ads',
    url: 'https://github.com/sebastianwd/elevenfm',
    tags: ['React', 'NodeJS', 'GraphQL'],
  },
  {
    value: 'Pet breed classifier',
    img: project3Img,
    description:
      'Identify dog and cat breeds using Python with Jupyter notebooks',
    url: 'https://github.com/sebastianwd/fastai-pet-classifier',
    tags: ['Tensorflow', 'React'],
  },
  {
    value: 'YT Downloader',
    img: project2Img,
    description: 'Download videos from youtube',
    url: 'https://github.com/sebastianwd/youtube-downloader',
    tags: ['React', 'NodeJS'],
  },
]
---

<BaseLayout title={pageTitle}>
  <span class='px-6 font-belle text-surface-200 md:px-0'>{'<html>'}</span>
  <span class='my-3 block px-10 font-belle text-surface-200'
    >&#x3C;body&#x3E;</span
  >
  <div
    class='relative grid px-6 md:grid-cols-[1fr_240px] lg:grid-cols-[1fr_360px]'
  >
    <div>
      <WordAnimator
        client:load
        delay={120}
        className='min-h-12 font-clvtc text-5xl'
        words={pageTitle}
      >
        {pageTitle}
      </WordAnimator>
      <h2 class='mt-2 pr-2 font-iamono text-lg text-surface-200 md:pr-0'>
        Systems Engineer & Full Stack Web Developer specialized in JavaScript
        with experience in technologies like
        <WordSpinner client:load items={techs} />
      </h2>
      <div class='mt-6 flex gap-6'>
        {
          links.map((link) => {
            return (
              <Social
                url={link.url}
                value={link.value}
                type={link.type}
                imgSrc={link.icon.src}
                client:only='react'
              />
            )
          })
        }
      </div>
    </div>
    <div
      class='absolute -top-4 right-0 -z-10 translate-x-8 translate-y-1/2 scale-75 md:top-0 md:-translate-y-1/3 md:translate-x-28 lg:translate-x-12 lg:scale-100'
    >
      <SplineRender
        sceneUrl='https://prod.spline.design/rNTqNEmg4s2WTWkg/scene.splinecode'
        client:load
      />
    </div>
  </div>
  <div
    class='mt-56 grid gap-6 px-6 md:mt-12 md:grid-cols-[1fr_240px] lg:grid-cols-[1fr_360px] lg:px-0'
  >
    <div class='flex flex-col gap-3 rounded-2xl bg-surface-700 p-6'>
      <WordAnimator
        delay={200}
        client:load
        className='font-clvtc text-4xl text-primary'
        words='> About'
        tag='h2'
      />
      <p class='font-iamono text-base'>
        Hi there! My name is Sebastian and I’m a developer with over 5 years of
        work experience using web technologies. My main expertise are
        <UnderlineRainbow>
          <span>React.js</span>
          and
          <span>Node.js</span>
          with
          <span>Typescript</span>.
        </UnderlineRainbow> Something I enjoy from this field is tackling challenges
        and figuring out simple solutions for difficult problems.
      </p>
      <p class='font-iamono text-base'>
        Some specific stuff I've worked on professionally and in personal
        projects:
      </p>
      <ul class='list-inside list-disc font-iamono text-base'>
        <li>Adding features to production e-commerce sites</li>
        <li>Next.js with SSR/SSG</li>
        <li>Mobile apps with React Native</li>
        <li>GraphQL</li>
        <li>CSS animations</li>
        <li>Frame by frame operations with videos in the browser</li>
        <li>HTML canvas</li>
        <li>Discord chatbots</li>
      </ul>
      <p class='font-iamono text-base'>
        Learning and keeping up to date with new technologies motivates me, at
        the moment I’m learning Python and generative AI with pytorch.
      </p>
    </div>
    <div class='order-last flex flex-col gap-6 md:order-none'>
      <div
        class='relative flex h-fit flex-col gap-3 rounded-2xl bg-surface-700 p-6'
      >
        <img src={spotifyIcon.src} class='h-9 w-fit object-cover' />
        <SpotifyActivity client:load />
      </div>
      <div class='flex h-fit flex-col rounded-2xl bg-surface-700 p-6'>
        <PageViews client:load />
      </div>
    </div>
    <div class='flex flex-col gap-3 rounded-2xl bg-surface-700 p-6'>
      <WordAnimator
        delay={200}
        client:visible
        className='font-clvtc text-4xl text-primary'
        words='> Projects'
        tag='h2'
      />
      <p class='font-iamono'>
        Personal projects. Check more on my <UnderlineRainbow selector='a'>
          <a href={atob(githubUrl)} target='_blank' rel='noopener noreferrer'
            >Github</a
          >.
        </UnderlineRainbow>
      </p>
      <div class='mt-4 grid gap-x-8 gap-y-6'>
        {
          projects.map((project) => {
            return (
              <a
                href={project.url}
                target='_blank'
                rel='noopener noreferrer'
                class='relative w-full'
              >
                <div class='grid lg:grid-cols-5'>
                  <Tilt className='lg:col-span-3'>
                    <div class='bg-gradient-blend bg-top bg-no-repeat'>
                      <img
                        src={project.img.src}
                        class='min-w-0 rounded-md object-cover'
                      />
                    </div>
                  </Tilt>
                  <div class='z-10 my-auto -mt-6 flex min-h-36 flex-col rounded-lg bg-surface-800 p-6 shadow-xl lg:col-span-2 lg:-ml-10 lg:mt-auto'>
                    <h3 class='mb-2 font-clvtc text-xl shadow-surface-700 text-shadow-lg'>
                      {project.value}
                    </h3>
                    <p class='mb-auto font-iamono text-sm shadow-surface-700 text-shadow-lg'>
                      {project.description}
                    </p>
                    <div class='mt-2'>
                      {project.tags.map((tag) => {
                        return (
                          <span class='mr-2 inline-block font-iamono text-xs text-primary'>
                            #{tag}
                          </span>
                        )
                      })}
                    </div>
                  </div>
                </div>
              </a>
            )
          })
        }
      </div>
    </div>
  </div>
  <span class='my-3 block px-6 font-belle text-surface-200'
    >&#x3C;/body&#x3E;</span
  >
  <span class='px-6 font-belle text-surface-200 md:px-0'>&#x3C;/html&#x3E;</span
  >
  {isProduction ? <EdgeAnalytics slug='/' /> : null}
</BaseLayout>

<script>
  import VanillaTilt from 'vanilla-tilt'

  document.addEventListener('astro:page-load', () => {
    VanillaTilt.init(Array.from(document.querySelectorAll('[data-tilt-lib]')), {
      max: 25,
      speed: 400,
      transition: true,
      perspective: 800,
      'max-glare': 0.2,
      glare: true,
    })
  })
</script>
